[Unit]
Description=Lympt Server
After=network.target
Requires=docker.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/lympt
ExecStart=/usr/bin/java -jar /usr/bin/LymptServer.jar ${CONTAINER_CAPACITY} ${CONTAINER_IDENTIFIER}

[Install]
WantedBy=multi-user.target
